body {
  font-family: 'Poppins', sans-serif; /* Change your font family */
}

  .edit-user-content-table {
    border-collapse: collapse;
    font-size: 14px;
    max-width: 100%;
    width: 50vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .edit-user-content-table thead tr {
    background-color: #5572c7;
    color: #ffffff;
    text-align: left;
    font-weight: lighter;
  }
  
  .edit-user-content-table th,
  .edit-user-content-table td {
    padding: 12px 15px;
  }
  
  .edit-user-content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .edit-user-content-table tbody tr:last-of-type {
    border-bottom: 2px solid #5572c7;
  }
  
  .edit-user-content-table tbody tr {
    font-weight: 200px;
    
  }

  .edit-user-content-table tbody tr.active-row {
    font-weight: 200px;
    color: #009879;
  }

  .add-btn {
    background-color: #5572c7;
    width:20%;
    padding: 5px 5px 5px 5px;
    margin-top:15px;
    margin:auto;
    border-radius:5px;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: 0.3s;
    font-size:14px;
    cursor:pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
.add-btn:hover {
  background-color: #293e7b;
  transition: 0.3s;
}

.add-btn:active {
  transform: scale(0.8)
}

.username-field {
    
    display: flex;
    flex-direction: column;
}

.user-field {
    line-height: 0px;
    font-size: 14px;
}

select {
  border:none;
  background-color: transparent;
}